In [15]:
import numpy as np
import pandas as pd

#type(None)

#None+1

#print(type(None))

#type(np.nan)
#float

#print(np.nan+1)

#eksik_veri_seti=pd.Series(data=np.array([None,np.nan,1,2,"Merhaba"]))

#print(eksik_veri_seti.isnull())

#eksik_veri_seti.dropna()

#eksik_veri_seti[eksik_veri_seti.isnull()]

#print(eksik_veri_seti[eksik_veri_seti.notna()])

#eksik_veri_seti=pd.Series(data=np.array([None,np.nan,1,2,"Merhaba"]))

#print(eksik_veri_seti.fillna(value=-1))

#print(eksik_veri_seti)

#eksik_veri_seti_doldurulmus=eksik_veri_seti.fillna(value=-1)
#print(eksik_veri_seti)

#eksik_veri_seti_dusurme=eksik_veri_seti.dropna()

#print(eksik_veri_seti_dusurme)

veri_seti=pd.read_csv("titanic.csv")
print(veri_seti.head())

veri_seti.isna().sum() #boş veri sayısına bakalım
veri_seti.Age.unique()
veri_seti["Cabin"].value_counts()
veri_seti.Cabin.unique()
#eksik değerleri dolduralım
veri_seti.fillna(value=0).head()
veri_seti.fillna({"Cabin":"G6"}).head()
veri_seti.fillna(method="bfill",axis=0).head() #0 satır oluyor bir alttakine gidiyor bir sonraki değeri alsın Cabin
veri_seti.Age.head()
veri_seti.Age.value_counts()
veri_seti.Age.describe()
veri_seti.Age.interpolate(method="index").head()

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

/tmp/ipython-input-1656416019.py:48: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  veri_seti.fillna(method="bfill",axis=0).head() #0 satır oluyor bir alttakine gidiyor bir sonraki değeri alsın Cabin

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64